<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
       .foot {
          display: flex;
          justify-content: center;
        }

    </style>
</head>
<body>
    <div id="notice">
    <h1 class="foot"><b>공지사항</b></h1>
    <div class="m-4 foot">
        <table class="table table-striped noticeList" style="width: 1000px;">
            <thead>
                <tr>
                    <th style="width: 15%;">글번호</th>
                    <th style="width: 15%;">분류</th>
                    <th style="width: 50%;">제목</th>
                    <th style="width: 20%;">날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>xx</td>
                    <td>xxxx</td>
                    <td>xx</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="m-4 foot">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link"><</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">></a></li>
            </ul>
        </nav>
    </div>

    <!-- <div class="col-5 foot">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="검색어 입력">
            <button type="button" class="btn btn-secondary">
                <i class="bi-search"></i>
            </button>
        </div>
    </div> -->

</body>
</html>